@using System.Collections.Generic;

@namespace Cinema.UI

<style>
	Scoreboard {
		position: absolute;

		width:  100%;
		height: 100%;

		background-color: rgba(0,0,0,0);

		z-index: 1000;
		
		opacity: 0.0;

		pointer-events: none;
		
		.container {
			flex-direction: column;
			flex-grow: 1;
		}
		
		.header {
			width: 100%;
			height: 10%;
			align-items: center;
			

			background-color: rgba(0,0,0,0.8);
		}

		.header .title {
			color: white;

			left: 16px;

			font-size: 40px;
		}

		.section {
			width:100%;
			height: 80%;

			justify-content: center;
			
			background-color: rgba(0,0,0,0.6);
		}

		.footer {
			width: 100%;
			height: 10%;

			background-color: rgba(0,0,0,0.8);
		}

		.client 
		{
			color: white;

			padding: 1%;
		}

		.client .name 
		{
			font-size: 32px;
			padding-right: 512px;
		}

		.client .ping 
		{
			font-size: 30px;
		}

		&.visible
		{
			opacity: 1.0;
			pointer-events: all;
		}
	}
</style>

<root class="@VisibleClass">
	<div class="container">
		<div class="header">
			<label class="title">@Name</label>
		</div>
		
		<div class="section">
			<div class="client">
			@foreach (var client in Clients)
			{
				<label class="name">@client.Name</label>
				<label class="ping">@client.Ping</label>
			}	
			</div>
			
		</div>

		<div class="footer">

		</div>

	</div>
</root>