Hud {
    font-family: SourceSansPro;
    
    >.center {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    > CooldownBar {
        position: absolute;
        left: 50%;
        top: 75%;
        width: 8%;
        height: 2%;
    }
}
