@inherits RootPanel
@using Sandbox;
@using Sandbox.UI;
@namespace Cinema.UI

@attribute [StyleSheet("/ui/hud/Hud.scss")]
<root>
    <PlayerCard />
    <NeedsPanel class="horizontal" />
    <InteractPrompt />
    <StoreInterface />
    <div class="center">
        <ItemMenu />
    </div>
    <ChatBox />
    <MovieQueue />
</root>