@inherits RootPanel
@using Sandbox;
@using Sandbox.UI;
@namespace Cinema.UI

@attribute [StyleSheet("ui/main.scss")]
<root>
    <PlayerCard @ref=PlayerCard/>
    <StoreInterface @ref=StoreInterface/>
    <div class="center">
        <ItemMenu />
    </div>
    <ChatBox />
    <MovieQueue @ref=MovieQueue/>
    <PlayerInventory @ref=PlayerInventory/>
</root>

@code {
    public PlayerCard PlayerCard { get; set; }
    public StoreInterface StoreInterface { get; set; }
    public MovieQueue MovieQueue { get; set; }
    public PlayerInventory PlayerInventory { get; set; }

    public static Hud Instance { get; set; }

    public Hud()
    {
        Instance = this;
    }
}