@inherits RootPanel
@using Sandbox;
@using Sandbox.UI;
@namespace Cinema.UI

@attribute [StyleSheet("/ui/hud/Hud.scss")]
<root>
    <Crosshair/>
    <Chat/>
    <PlayerCard class="@GetVisibleClass()"/>
    <InteractPrompt />
    <InteractBorder />
    <StoreInterface />
    <div class="center">
        <ItemMenu />
    </div>
    <VoiceSpeaker/>
    <MovieQueue />
    <JobMenu />
    <Scoreboard />
</root>