Hud {
    font-family: SourceSansPro;
    
    >.center {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    > VoiceSpeaker {
        position: absolute;
        right: 40px;
        bottom: 160px;
    }

    > PlayerCard {
        transition: opacity 0.2s ease-in;

        &.visible {
            opacity: 1;
        }

        &:not(.visible) {
            opacity: 0;
        }
    }
}
