Crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #000;
    opacity: .6;
    transition: opacity 0.5s ease-in;

    &:not(.visible) {
        opacity: 0;
    }
}