InteractBorder {
    position: absolute;
    transition: opacity 0.15s ease-in;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    &.visible {
        opacity: 1;
    }

    &:not(.visible) {
        opacity: 0;
    }

    > .border-filler {
        width: 79%;
    }

    > .border-corner {
        width: 10%;
        height: 20%;
        background-size: 100%;

        &.top {
            background-image: url("ui/interact-border/largeTopLeft2.webp");

            &.right {
                transform: scaleX(-1);
            }
        }

        &.bottom {
            background-image: url("ui/interact-border/largeBottomLeft2.webp");

            &.right {
                transform: scaleX(-1);
            }
        }
    }
}
