InteractBorder {
    position: absolute;
    border-width: 2px;
    border-color: white;
    box-shadow: 2px 2px 20px 2px white;
    border-radius: 10px;
    transition: opacity 0.15s ease-in;

    &.visible {
        opacity: 0.5;
    }

    &:not(.visible) {
        opacity: 0;
    }
}
