InteractBorder {
    position: absolute;
    border: 2px solid white;
    box-shadow: 2px 2px 20px 2px white;
    border-radius: 10px;
    transition: opacity 0.15s ease-in;

    &.visible {
        opacity: 0.03;
    }

    &:not(.visible) {
        opacity: 0;
    }
}
