MediaQueuePanel {
    background-color: rgba(42, 74, 127, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    flex-direction: column;
    padding: 10px;

    .header {
        justify-content: center;
        align-items: center;
        height: 10%;
        padding: 10px;
        font-size: 36px;
    }

    .body {
        flex-direction: column;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(42, 74, 127, 0.8);
        overflow-y: scroll;
        // Use linear gradient to fade effect
        mask-image: url('ui/backgrounds/scroll-fade-mask.png');
        mask-mode: luminance;
        mask-repeat: no-repeat;
        mask-size: 100%;
        padding-bottom: 50px;


        > * {
            min-height: 100px;
        }
    }
}
