@using Sandbox.UI;

@namespace Cinema.UI
@inherits Panel;
@attribute [StyleSheet]

<root class="@IsEmptyClass">
    <div class="body">
        @if (MediaQueue == null)
        {
            return;
        }
        @for(int i = 0; i < MediaQueue.Items.Count; i++)
        {
            var item = MediaQueue.Items[i];
            <MediaQueueItem ScoredItem=@item Priority=@(i + 1) Queue=@MediaQueue/>
        }
    </div>
</root>