@using Sandbox;
@using Sandbox.UI;
@using CinemaTeam.Plugins.Media;

@namespace Cinema.UI
@inherits Panel
@attribute [StyleSheet("/ui/movie-queue/MovieQueue.scss")]

<root class="@VisibleClass">
    <div class="placement container">
        <MediaQueuePanel MediaQueue=@Controller?.Zone?.MediaQueue/>      
        <div class="header">
            <VideoProviderList @ref=MediaProviderList OnProviderSelected=@CreateMediaProviderHeaderPanel/>
            <div class="close-btn button" @onclick=@OnClose>
                Close
            </div>
        </div>
        <div class="contents">

            <div @ref=MediaProviderHeaderContainer id="mediaHeader"/>
    
            @if (NowPlaying != null)
            {
                <CurrentMediaPanel/>
            }
        </div>
    </div>
    <div class="footer">

    </div>
</root>
