MovieQueue {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //Chi-TownNF

    font-family: engebrechtre-rg;
    font-size: 22px;
    color: #EEE;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }

    #mediaHeader {
        padding: 32px;
        height: 70%;
        width: 1088px;

        > * {
            width: 100%;
            height: 100%;
        }
    }

    CurrentMediaPanel {
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: 20px;
    }

    MediaQueuePanel {
        width: 30%;
        height: 60%;
        position: absolute;
        right: 20px;
        transition: transform 0.2s ease-in;
        transform: translateY(-100%);

        > .body {
            padding-top: 50px;
        }

        &:not(.empty) {
            transform: translateY(16%);
        }
    }
}

.placement {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container {
    > .header {
        align-items: center;
        justify-content: center;
        // background-image: url("ui/curtain-red.png");
        // background-size: cover;
        color: #fffD;
        background-color: rgba(0,0,0,0.25);
        backdrop-filter: blur(12px);
        box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.4);
        z-index: 1;

        > VideoProviderList {
            padding-left: 32px;
        }

        > .filler {
            background-color: rgba(0,0,0,0.75);
            height: 100%;
            flex-grow: 1;

            &.left {
                border-radius: 0px 0px 30px 0px;
            }

            &.right {
                border-radius: 0px 0px 0px 30px;
            }

            > .icon {
                font-family: "Material Icons";
                position: absolute;
                top: 25%;
                right: 40px;
                font-size: 48px;
                border-width: 0px;
                border-radius: 50%;
            }
        }
    }
}

.contents {
    flex-direction: column;
    overflow: hidden;

}

.section {
    flex-direction: column;
    
    margin: 4px;

    &.as-rows {
        flex-direction: row;
    }

    &:not(.clear) {
        padding: 8px;
    }
    
    &.outline {
        background-color: rgba(30, 30, 30, 0.5);
    }

    >.title {
        font-size: 24px;
        padding-bottom: 4px;

        &.center {
            justify-content: center;
        }
    }

    &:not(.grow) {
        flex-shrink: 0;
    }

    &.grow {
        flex-grow: 1;
    }

    &.scroll {
        overflow: scroll;
    }
}

.button {
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #5555;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:not(.fit) {
        min-width: 80px;
    }

    &.small {
        padding: 0px 4px;
    }

    &.close-btn {
        background-color: #533;
        font-size: 18px;
    }

    &:hover {
        background-color: #333;
        border: 1px solid #6665;
    }

    &:active {
        background-color: #444;
        border: 1px solid #7775;
    }

    &.fill {
        width: 100%;
    }
}