@using Sandbox;
@using Sandbox.UI;
@using CinemaTeam.Plugins.Media;

@namespace Cinema.UI
@inherits Panel
@attribute [StyleSheet("/ui/movie-queue/MovieQueue.scss")]

<root class="@VisibleClass">
    <div class="placement container">
        <MediaQueuePanel MediaQueue=@Controller?.Zone?.MediaQueue/>      
        <div class="header">
            <div class="filler left"/>
            <VideoProviderList @ref=MediaProviderList OnProviderSelected=@CreateMediaProviderHeaderPanel/>
            <div class="filler right">
                <div class="icon button" @onclick=@OnClose>close</div>
            </div>
        </div>
        <div @ref=MediaProviderHeaderContainer id="mediaHeader"/>
    
        @if (NowPlaying != null)
        {
            <CurrentMediaPanel/>
        }
    </div>
    <div class="footer">

    </div>
</root>
