@using System;
@using System.Linq;
@using System.Collections.Generic;
@using CinemaTeam.Plugins.Media;
@using Sandbox;
@using Sandbox.UI;
@using Cinema;

@namespace Cinema.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <div class="providers">
        @foreach (var provider in Providers.OrderBy(p => p.ProviderName))
        {
            <VideoProviderIcon Provider=@provider @onclick=@(_ => OnClickedProvider(provider))/>
        }
    </div>
    <button class="icon" @onclick=@(() => OnAddClicked())>add</button>
</root>