@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Cinema.UI

@inherits WorldPanel

<style>
    Tooltip {
        display: flex;
        
        justify-content: center;
        align-items: center;

        opacity: 0.0;
        
        .container 
        {
            background-color: rgba(black, 0.2);
            border-radius: 32px;

            padding: 16px 36px;

            color: white;
            
            font-size: 18px;
        }

        &.visible {
            opacity: 1.0;
        }
    }
</style>

<root class="@(Open ? "visible" : "" )">
    <div class="container">@Text</div>
</root>