@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Cinema.UI

@inherits WorldPanel

<style>
    Tooltip {
        display: flex;
        
        justify-content: center;
        align-items: center;

        opacity: 0.0;
        
        .container 
        {
            background-color: rgba(black, 0.2);
            border-radius: 32px;

            padding: 16px 24px;

            color: white;
            
            font-size: 32px;
        }

        &.visible {
            opacity: 1.0;
        }
    }
</style>

<root class="@(Open ? "visible" : "" )">
    <div class="container">@Text</div>
</root>

@code 
{
    private string Text;

    public bool Open { get; set; } = true;

    public Tooltip(string text)
    {
        Text = text;
    } 

    public void ShouldOpen(bool open)
    {
        Open = open;

        StateHasChanged();
    }
}