ProjectorOverlayPanel {
    justify-content: center;
    align-items: center;

    .playback-icon {
        width: 50%;
        height: 50%;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        font-family: 'Material Icons';
        color: white;
        opacity: 1;
        transition: all 0.2s;
        transform: scale(1.0);

        &:intro {
            opacity: 0;
            transform: scale(1.1);
        }

        &:outro {
            opacity: 0;
        }
    }

    .buffering-image {
        width: 50px;
        height: 50px;
        background-image: url('ui/bufferingcircle.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
