@using Sandbox.UI;

@namespace Cinema.UI
@inherits Panel;
@attribute [StyleSheet]
<root>
    <div class="thumbnail" style="background-image: url( @Package.Thumb )"/>
    <div class="author">@Package.Org.Title</div>
    <div class="title">@Package.Title</div>
</root>