@using Sandbox.UI;

@namespace Cinema.UI
@inherits Panel;
@attribute [StyleSheet]
<root class="@VisibilityClass">
    <div class="shadow-box" onclick=@(() => Close())/>
    <div @ref=PackageList class="body">
        @foreach(var package in FoundPackages)
        {
            <PluginIcon Package=@package @onClick=@(() => SelectPackage(package))/>
        }
    </div>
</root>