@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;

@namespace Cinema.UI

@inherits WorldPanel

<style>
	Placement
	{
		

        display: flex;
        justify-content: center;
        align-items: center;

		.container 
		{
			width: 32px;
			height: 32px;
			background-color: rgba(white, 0.6);
			border-radius: 32px;
		}
	}
</style>

<root>
	<div class="container"></div>
</root>

@code 
{

}