@using System.Threading.Tasks;
@using Sandbox.UI;

@namespace CinemaTeam.Plugins.Video
@inherits MediaProviderHeaderPanel;
@attribute [StyleSheet]

<root>
    <div class="url-bar">
        <button class="icon back @(CanGoBack() ? "" : "disabled")" onclick=@(() => OnClickBack())>arrow_back</button>
        <button class="icon forward @(CanGoForward() ? "" : "disabled")" onclick="@(() => OnClickForward())">arrow_forward</button>
        <TextEntry class="url-entry" @ref=UrlTextEntry/>
        <button class="url-submit" onclick=@(() => OnClickAdd())>Add</button>
    </div>
    <WebPanel @ref=BrowserPanel/>
</root>

@code {
    
}
