@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;

@namespace Cinema.UI
@attribute [StyleSheet]

<root class="@VisibleClass">
	<div class="container">
		<header>
			<label>@Name</label>
		</header>

		<div class="canvas">
			<div class="title">
				<label class="name">Name</label>
				<label class="ping">Ping</label>
			</div>

			<div class="scrollpanel">
				@foreach (var client in Clients)
				{
					<div class="row">
						<label class="name">@client.Name</label>
						<label class="ping">@client.Ping</label>
					</div>
				}
			</div>
		</div>
		<div class="footer">

		</div>
	</div>
</root>