.root {
	width: 100%;
}

.background {
	transition: opacity 2s linear;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("ui/curtain-red.png");
	backdrop-filter: blur(5px);
	display: flex;
	background-size: cover;
	opacity: 1;

	&.ingame {
		background-image: none;
	}
}

.frontpage {

	.game-title {
		font-family: manbow-lines;
		margin: 70px 160px;
		gap: 10px;
		font-weight: 700;
		font-size: 100px;
	}

	.news {
		position: absolute;
		width: 500px;
		height: 60%;
		top: 20%;
		right: 120px;
		background-color: rgb(255, 75, 75, 0.11);
		border-radius: 10px;
		flex-direction: column;
		gap: 10px;
		padding: 24px;
		color: black;
		font-family: Poppins;

		.header {
			width: 100%;
			justify-content: center;
			font-size: 32px;
			font-weight: 700;
			animation-name: pulsingred;
			animation-duration: 4s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
		}

		.content {
			font-size: 19px;
			flex-direction: column;
			font-family: poppins;
			color: white;
		}

		.hyperlink {
			color: rgb(122, 174, 255, 0.76);
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.controls {
		margin: 140px 150px;
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
	}
}

@keyframes pulsingred {
	0% {
		color: white;
	}

	100% {
		color: rgb(146, 0, 0);
	}
}
