@inherits Panel
@using Sandbox;
@using Sandbox.UI;

@namespace Cinema.UI

@attribute [StyleSheet("/ui/arcade-test/ArcadeTest.scss")]
<root>
	<div class="container">
		<div class="title">
			Arcade 9000
		</div>
		<div>
			Press Start to Play
		</div>
		@if (Started)
		{
			<div>
				Started!
			</div>
		}
	</div>
	
</root>