@inherits Panel
@using Sandbox.UI;

@namespace Cinema.UI

@attribute [StyleSheet("/ui/toilet/PoopGame.scss")]
<root class="@VisibleClass">
    <div class="placement container">
        <PoopGameScreen />
    </div>
</root>