@using Sandbox;
@using Sandbox.UI;

@namespace CinemaTeam.Plugins.Video
@inherits MediaProviderHeaderPanel;
@attribute [StyleSheet]

<root>
    <div class="header">
        <h2>Enter a YouTube URL below:</h2>
    </div>
    <div class="body">
        <TextEntry @ref=UrlText id="urlTextEntry"></TextEntry>
        <button onclick=@OnAddUrl id="urlAcceptButton">Add</button>
    </div>
</root>
